*{
    margin: 0;
}
@font-face {
    font-family: 'Galano Grotesque Black';
    src: url('../font/GalanoGrotesqueBlack.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Galano Grotesque Light';
    src: url('../font/GalanoGrotesqueLight.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Galano Grotesque Medium';
    src: url('../font/GalanoGrotesqueMedium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html{
    background-color: #1E1F23;
    filter: blur(1);
}
body{
    background-image:url(../img/bg.jpg) ;
    background-size: 100%;
    background-position-y: 55%;
    background: no repeat;
    height: 25em;
    filter: blur(1);
}
header{
    color: white;
    text-align: center;
    padding-bottom: 2.5em;
    line-height: 1;
}
header h1{
    font-weight: 900;
    font-size: 3em;
    padding-top: 2em;
    font-family: 'Galano Grotesque Black'
}
header p{
    font-weight: lighter;
    font-size: .7em;
    font-family: 'Galano Grotesque Light'
}

main{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-left: 10%;
}

.section1{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.section1 img{
    height: 100%
}

.s1_white{
    background-color: white;
    width: 100%;
    height: 13em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s1_white h2{
    font-family: 'Galano Grotesque Medium';
    color: #1E1F23;
    font-weight: 900;
    text-align: center;
    padding-bottom: .5em;
    padding-top: 2em;
}
.margin{
    height: 1px;
    width: 6em;
    background-color: #BDBDBD;
}

.s1_white p{
    font-family: 'Galano Grotesque Light';
    text-align: center;
    color: #BDBDBD;
    letter-spacing: .1em;
    font-size: small;
    padding-top: 1.5em;
}

.s1_gray{
    background-color: #F4F4F4;
    width: 100%;
    height: 25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #8B8B8B;
    font-family: 'Galano Grotesque Light';
    gap: 1em;
}
.s1_gray p{
    width: 90%;
    font-size: .95em;
}

.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50em;
    background-color: #1E1F23;
    padding-bottom: 1em;
}

.s2_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 85%;
    background-color: #121315;
}

.s2_container h2{
    font-family: 'Galano Grotesque Medium';
    color: #FFFFFF;
    font-weight: 900;
    text-align: center;
    padding-bottom: .5em;
    padding-top: 1em;
}

.margin_s2{
    display: block;
    height: 1px;
    min-height: 1px;
    width: 6em;
    background-color: #49494b;
}

.s2_container p{
    font-family: 'Galano Grotesque Light';
    text-align: center;
    color: #49494b;
    letter-spacing: .1em;
    font-size: small;
    padding-top: 1em;
    padding-bottom: 1em;
}

.s2_img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 80%;
}

.s2_img img{
    flex: 1 1 50%;
    max-width: 50%;
    object-fit: cover; 
    height: 17em;
}

.section3,
.section4,
.section5{
    display: flex;
    width: 100%;
    height: 100%;

}
.img_cont,
.img_cont2,
.img_cont3{
    flex: 1;
}
.img_cont img,
.img_cont2 img,
.img_cont3 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

 .s3_txt,
 .s5_txt{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    text-align: left;
 }
 .s3_txt h2,
 .s5_txt h2 {
    font-family: 'Galano Grotesque Medium';
    color: #1E1F23;
    font-weight: 900;
    margin-bottom: 1em;
    padding-left: 2.4em;
}
.s3_txt p,
.s5_txt p {
    font-family: 'Galano Grotesque Light';
    color: #49494b;
    font-size: 1em;
    line-height: 1.5em;
    padding: 0 10%;
}

/* section 4 */


 .s4_txt{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1E1F23;
    text-align: right;
    color: #FFFFFF;
 }
 .s4_txt h2 {
    font-family: 'Galano Grotesque Medium';
    font-weight: 900;
    margin-bottom: 1em;
    padding-right: 2.4em;
    color: white;
}
.s4_txt p {
    font-family: 'Galano Grotesque Light';
    color: #49494b;
    font-size: 1em;
    line-height: 1.5em;
    padding: 0 10%;
}

/* Footer */
footer{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    color: #B8B8B8;
    font-family: 'Galano Grotesque Light';
    font-size: small;
    padding-top: 4em;
    padding-bottom: 2em;
    gap: 2em;

}
a{
    color: #B8B8B8;
}

.icon img{
    height: 2em;
    padding-left: 1em;
    filter: invert(89%) sepia(6%) saturate(30%) hue-rotate(169deg) brightness(96%) contrast(89%);
}