*{
    margin: 0;
}
@font-face {
    font-family: 'Galano Grotesque Black';
    src: url('../font/GalanoGrotesqueBlack.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Galano Grotesque Light';
    src: url('../font/GalanoGrotesqueLight.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Galano Grotesque Medium';
    src: url('../font/GalanoGrotesqueMedium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html{
    background-color: #1E1F23;
    filter: blur(1);
}
body{
    background-image:url(../img/bg.jpg) ;
    background-size: 100%;
    background-position-y: 55%;
    background: no repeat;
    height: 25em;
    filter: blur(1);
}
header{
    color: white;
    text-align: center;
    padding-bottom: 2.5em;
    line-height: 1;
}
header h1{
    font-weight: 900;
    font-size: 3em;
    padding-top: 2em;
    font-family: 'Galano Grotesque Black'
}
header p{
    font-weight: lighter;
    font-size: .7em;
    font-family: 'Galano Grotesque Light'
}

main{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section1{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 10%;
}
.section1 img{
    height: 100%
}

.s1_white{
    background-color: white;
    width: 100%;
    height: 13em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s1_white h2{
    font-family: 'Galano Grotesque Medium';
    color: #1E1F23;
    font-weight: 900;
    text-align: center;
    padding-bottom: .5em;
    padding-top: 2em;
}
.margin{
    height: 1px;
    width: 6em;
    background-color: #BDBDBD;
}

.s1_white p{
    font-family: 'Galano Grotesque Light';
    text-align: center;
    color: #BDBDBD;
    letter-spacing: .1em;
    font-size: small;
    padding-top: 1.5em;
}

.s1_gray{
    background-color: #F4F4F4;
    width: 100%;
    height: 25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #8B8B8B;
    font-family: 'Galano Grotesque Light';
    gap: 1em;
}
.s1_gray p{
    width: 90%;
    font-size: .95em;
}
